link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
link(rel='stylesheet' href='styles.css')

doctype html

nav
    .nav-wrapper
        a.brand-logo(href='/') Logo
        ul#nav-mobile.right.hide-on-med-and-down
            li
                a(href='#') Log In




html
    head
    body
        form.registerform(action='/hotelregister', method='POST')
            p
                |
                input(name='hotelname', value='', type='text', placeholder='Hotell name')
                |
                input(name='hotel_address', value='', type='text', placeholder='Address')
                |
                input(name='description', value='', type='text', placeholder='Description')
                |
                input(name='email', value='', type='text', placeholder='e-mail')
                select(for="stars", name="stars", id="dropdown-menu")
                    option(value='empty', disabled) Select how many Stars you have
                    option(value='1') 1 Star
                    option(value='2') 2 Stars
                    option(value='3') 3 Stars
                    option(value='4') 4 Stars
                    option(value='5') 5 Stars
                label Select what services you provide:
                input#massage(type='checkbox' name='services' value='massage')
                label(for='massage') Massage
                input#breakfast(type='checkbox' name='services' value='breakfast')
                label(for='breakfast') Breakfast
                input#pool(type='checkbox' name='services' value='pool')
                label(for='pool') Pool
                input#beach(type='checkbox' name='services' value='beach')
                label(for='beach') Beach
                input#dinner(type='checkbox' name='services' value='dinner')
                label(for='dinner') Dinner

            input(value='Submit', type='submit', class="submit")


script.
    document.getElementById('dropdown-menu').onchange = function() {
        var selectedValue = this.value;
        console.log(selectedValue)
    }