link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
link(rel='stylesheet' href='/styles.css')
script(src='./script.js', type='text/javascript')



nav
    .nav-wrapper
        a.brand-logo(href='#') Logo
        ul#nav-mobile.right.hide-on-med-and-down
            li
                a(href='/register') Register
            li
                a.button(onclick="showPopup()") Log In


doctype html
html
    head
    body
    each indhotell in hotell
        .row
            .col.s12.m7
                .card
                    .card-image
                        img(src=indhotell.image)
                        span.card-title=indhotell.address
                    .card-content
                        p=indhotell.description
                        .card-action
                            button(id=indhotell.hotell_id, onclick='showModal(this.id)') Reserve
                            // The Modal
                            #myModal.modal1
                                form
                                    // Modal content
                                    .modal-content
                                        span(class="close", id="close", onclick='hideModal(this.id)') &times;
                                        label(for='saabumine') Saabumine:
                                            input(type='date', id='saabumine', name='saabumine')
                                        label(for='lahkumine') Lahkumine:
                                            input(type='date', id='lahkumine', name='lahkumine')
                                        button.btn(type="submit", onclick='senddata()') Submit

