
// listings.pug
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
link(rel='stylesheet' href='/styles.css')




nav
    .nav-wrapper
        a.brand-logo(href='#') Logo
        ul#nav-mobile.right.hide-on-med-and-down
            li
                a(href='/register') Register
            li
                a.button(onclick="showPopup()") Log In


doctype html
html
    head
    body
    each indhotell in hotell
        .row
            .col.s12.m7
                .card
                    .card-image
                        img(src=indhotell.image)
                        span.card-title=indhotell.address
                    .card-content
                        p=indhotell.description
                    .card-action
                        a(href='hotel/'+indhotell.hotell_id) This is a link





script.
    function showPopup() {
        //- Use the window.prompt() method to create a popup box with a custom layout
        var response = window.prompt("Please select the options you want:", "", "Option 1,Option 2");

        //- Check the user's response and take action accordingly
        if (response == "Option 1,Option 2") {
            //- The user selected both options
            //- Perform some action, such as redirecting the user to another page
            window.location = "http://www.example.com";
        } else if (response == "Option 1") {
            //- The user selected the first option
            //- Perform some other action, such as closing the popup window
            window.close();
        } else if (response == "Option 2") {
            //- The user selected the second option
            //- Perform some other action, such as displaying an error message
            alert("Invalid response. Please try again.");
        } else {
            //- The user did not select any options or selected the cancel button
            //- Perform some other action, such as closing the popup window
            window.close();
        }
    }