//- link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
link(rel='stylesheet' href='styles.css')

doctype html

nav
    .nav-wrapper
        a.brand-logo(href='/') Logo
        ul#nav-mobile.right.hide-on-med-and-down
            li
                a(href='#') Log In




html
    head
    body
        form.registerform(action='/registering', method='POST')
            p
                |
                input(name='eesnimi', value='', type='text', placeholder='Eesnimi')
                |
                input(name='perenimi', value='', type='text', placeholder='Perenimi')
                |
                input(name='isikukood', value='', type='text', placeholder='Isikukood')
                |
                input(name='password', value='', type='password', placeholder='Password')
                |
                input(name='email', value='', type='text', placeholder='e-mail')
                |
                input(name='hotelname', value='', type='text', placeholder='Hotelli nimi')
                |
                input(name='rating', value='', type='text', placeholder='Rating')
                |
                input(name='picture', value='', type='text', placeholder='Pildi URL')
                |
                input(name='description', value='', type='text', placeholder='Hotelli kirjeldus')
            input(value='Submit', type='submit', class="submit")