body{background-color: black;}


.card {
    object-fit: contain;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 710px;
    margin: auto;
    
}

.img-size {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
}

.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: contain;
}

.brand-logo {
    left: 40px;
}


.registerform {
    max-width: 700px;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-left: 30%;
}

.submit {
    background-color: #ffffff;
    border: none;
    color: #242424;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    border-style: solid;
    border-color: #D01D51FF;
}

input[type='date'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color:#f9f9f9;
    font-family: Arial, sans-serif;
    color: #555;
}

.pilt {
    max-height: 700px;
    max-width: 900px;
}

.hotell-individual {
    margin: auto;
}

select#dropdown-menu {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:#f9f9f9;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #555;
}

/* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
